{% extends '_base.html' %}

{% block content %}


<div class="cart_container">
    

{% if items %}
<table>
    <thead>
        <tr>
            <th></th>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td><img src="{{ item.product.image.url }}" alt=""></td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.price }} ₽</td>
            <td>
                <form action="{% url 'update' item.product.id   %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="{{ item.quantity }}"  >
                    <button type="submit">Обновить</button>
                </form>
            </td>
            <td>{{ item.total_price }} ₽</td>
            <td>
                <a href="{% url 'remove' item.product.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><strong>Итого:</strong> {{ cart.get_total_price }} ₽</p>

<a href="{% url 'clear' %}">Очистить корзину</a>
<a href="{% url 'order' %}">Оформить заказ</a>

{% else %}
<p>Ваша корзина пуста.</p>
{% endif %}
</div>
{% endblock %}